.idea
venv/*
ws_amazon_1_categoriesOfSearch.txt
ws_amazon_1_categoriesOfSearch_2.txt
.csv
venv
.vscode
.vscode/
venv/
.vscode/*
**/.vscode/
**/venv/
.csv
*.csv
memo.txt
captcha/*
captcha_solver.py
__pycache__